* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #8a2be2, #87cefa);
    color: #333;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-self: center;
    padding: 2rem;
    background-color: #ffffff;
    width: 70%;
    border-radius: 15px;
    margin-bottom: 20px;
}

h2{
    font-size: xx-large;
}

.textfield{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 1em;
    font-weight: bolder;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border 0.3s;
}

textarea{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border 0.3s;

}

button[type="submit"],
button[type="reset"] {
    align-self: center;
    padding: 10px;
    width: 30%;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}
#addbutton{
    text-align: center;
}
button[type="submit"] {
    background-color: #6e8efb;
    margin-top: 10px;
    color: #fff;
}

button[type="reset"] {
    background-color: #ff6b6b;
    color: #fff;
}

@media (max-width: 720px) {
    body {
        font-size: 16px;
    }
    main {
        padding: 10px;
    }
    .textfield {
        display: block;
        margin-bottom: 15px;
    }
    .bookinfo {
        display: block;
        margin-bottom: 5px;
    }
    .bookinput {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
    }
    #addbutton {
        text-align: center;
    }
    .bookinfobutton {
        width: 45%;
        padding: 10px;
        margin: 10px 5px;
    }
    .back-button button {
        width: 100%;
        padding: 10px;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 14px;
    }
    main {
        padding: 5px;
    }
    .textfield {
        display: block;
        margin-bottom: 10px;
    }
    .bookinfo {
        font-size: 14px;
        display: block;
        margin-bottom: 3px;
    }
    .bookinput {
        width: 100%;
        padding: 8px;
        box-sizing: border-box;
    }
    #addbutton {
        text-align: center;
    }
    .bookinfobutton {
        width: 100%;
        padding: 8px;
        margin: 8px 0;
    }
    .back-button button {
        width: 100%;
        padding: 8px;
    }
}
